*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    background: #d3d3d3ee;
    box-shadow: #3d3d3d 0.15em 0.15em 0.5em;
    padding: 0.5em;
}

.header-box {
    display: flex;
    flex-direction: column;
    width: 30em;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border: solid 1px #3d3d3d;
    box-shadow: 0.25em 0.25em 0.5em #3d3d3d, 
                -0.25em -0.25em 0.5em #d3d3d3;
    margin: 0.5em;
}

body {
    font-family: 'aglet-mono', sans-serif;
    color: #202020;
    background: ghostwhite;
}

main {
    padding: 2em;
}

section.discography {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

figure {
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;
    background: whitesmoke;
    border: solid 1px #3d3d3d;
    box-shadow: 0.25em 0.25em 0.5em #3d3d3d, 
                -0.25em -0.25em 0.5em #d3d3d3;
    padding: 0 0 0.75em 0; 
}

h1 {
    display: inline-block;
    margin: 0;
    font-family: 'dunkel-sans-medium', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li ul {
    visibility: hidden;
    display: none; 
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    display: block;
}


ul li:hover, a:hover {
    font-size: 1.05em;
    padding-left: 0.25em;
}

img.covers {
    box-shadow: 0.15em 0.15em 0.75em #3d3d3d, 
    -0.15em -0.15em 0.75em #d3d3d3;
}

.release {
    font-style: italic;
}

.tracklist {
    display: none;
} 

figure:hover .tracklist {
    display: block;
}

a, abbr {
    text-decoration: none;
    color: #202020;
}

footer {
    display: flex;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #d3d3d3ee;
    box-shadow: #3d3d3d -0.1em -0.1em 0.25em;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
}
