*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'aglet-mono', sans-serif;
    color: #202020;
}

header {

}


h1, h2 {
    font-family: 'dunkel-sans-medium', sans-serif;
    text-transform: uppercase;
}

nav {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

figcaption.release {
    font-style: italic;
}

a, abbr {
    text-decoration: none;
    color: #202020;
}

footer a {
    position: absolute;
    right: 5%;
    padding-top: 1rem;
}

